html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  background-color: #F6F6FE;
}

#__next {
  isolation: isolate;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background-color: #020418;
  }
}

button {
  appearance: none;
  background: transparent;
  border: none;
}

.initial-load-fallback {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: #F6F6FE;
  color: #020418;
}

@media (prefers-color-scheme: dark) {
  .initial-load-fallback {
    background-color: #020418;
    color: #909FFF;
  }
}

.initial-load-fallback__desc {
  visibility: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}